<p>
  Name: {{view Em.TextField valueBinding='name'}}
</p>

<p>
  Provider: {{view Em.Select
              content=providers
              optionValuePath='content'
              optionLabelPath='content.name'
              selectionBinding='content.provider'
              prompt='Choose a provider'
              }}
</p>

<p>
  Description: {{view Em.TextField valueBinding='description'}}
</p>

<p>
  Price: {{view Em.TextField valueBinding='price'}}
</p>
<button {{action 'createProduct'}}>Save</button>
