<h1>Products</h1>
<table>
  <thead>
    <th {{action 'sort' 'name'}}>Name</th>
    <th>Description</th>
    <th {{action 'sort' 'price'}}>Price</th>
    <th>Provider</th>
    <th>Created at</th>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{price}}</td>
        <td>{{provider.name}}</td>
        <td>{{createdAt}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
