<h1>Products</h1>
{{view Em.TextField valueBinding='filter'}}
<button {{action 'applyFilter'}}>Filter by Provider</button>
<table>
  <thead>
    <th {{action 'sort' 'name'}}>Name</th>
    <th>Description</th>
    <th {{action 'sort' 'price'}}>Price</th>
    <th>Provider</th>
    <th>Created at</th>
    <th>Actions</th>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{price}}</td>
        <td>{{provider.name}}</td>
        <td>{{formatDate createdAt}}</td>
        <td><button {{action 'delete' this}}>Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#link-to 'products.new'}}New{{/link-to}}

<div id='new-product'>
  {{outlet}}
</div>
